@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background: #f8f8f8;
    font-family: "EB Garamond", serif;
    color: #0a0a0a;
}

@layer utilities {
    .root-paddings {
        padding-left: 5vw;
        padding-right: 5vw;
    }
}
